<a href="https://colab.research.google.com/github/Wilanth/BSC_DPDM23/blob/main/Frequent_Patterns_(Association_Rules).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/BSC_DPDM23/'

Mounted at /content/drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin-1')

In [5]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/09/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/09/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/09/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/09/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/09/2011 12:50,4.95,12680.0,France

In [6]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

# แปลง Data ให้อยู่ในรูปแบบ Transaction data ด้วย $groupby.apply(list)$

In [7]:
data.groupby('InvoiceNo')['StockCode'].apply(list)

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

In [8]:
data.groupby('InvoiceNo')['StockCode'].apply(list)

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

In [9]:
transactions = data.groupby('InvoiceNo')['StockCode'].apply(list) #เอาตัวแปรมาเก็บ

เตรียม data เสร็จแล้ว

# ทำ Association Rules

In [10]:
!pip install apyori #ต้อง install แพ๊กเกตใหม่ เพราะไม่ใช่ทั่วๆไปที่คนใช้ install ครั้งเดียวพอ

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5954 sha256=044a7b82d72ce941cabe1f1a27787272b275ff2dd530d2969e2b90d4a78fe8fd
  Stored in directory: /root/.cache/pip/wheels/c4/1a/79/20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [11]:
from apyori import apriori

In [12]:
apriori(transactions,min_support = 0.065)

In [13]:
list(apriori(transactions,min_support = 0.065))

[RelationRecord(items=frozenset({'22423'}), support=0.08386100386100385, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.08386100386100385, lift=1.0)]),
 RelationRecord(items=frozenset({'47566'}), support=0.06586872586872587, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'47566'}), confidence=0.06586872586872587, lift=1.0)]),
 RelationRecord(items=frozenset({'85099B'}), support=0.08243243243243244, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B'}), confidence=0.08243243243243244, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.08671814671814672, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.08671814671814672, lift=1.0)])]

In [14]:
frequentItemsets = list(apriori(transactions,min_support = 0.065))
frequentItemsets

[RelationRecord(items=frozenset({'22423'}), support=0.08386100386100385, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.08386100386100385, lift=1.0)]),
 RelationRecord(items=frozenset({'47566'}), support=0.06586872586872587, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'47566'}), confidence=0.06586872586872587, lift=1.0)]),
 RelationRecord(items=frozenset({'85099B'}), support=0.08243243243243244, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B'}), confidence=0.08243243243243244, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.08671814671814672, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.08671814671814672, lift=1.0)])]

In [15]:
len(frequentItemsets)

4

In [16]:
frequentItemsets[0][0]

frozenset({'22423'})

In [17]:
dir(frequentItemsets[0][0])

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [18]:
frequentItemsets[0][0].__len__()

1

In [19]:
min_sup = 0.03

frequentItemsets = list(apriori(transactions,min_support = min_sup))
for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03216216216216216, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03216216216216216, lift=1.0), OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)])
yes
RelationRecord(items=frozenset({'22697', '22699'}), support=0.03027027027027027, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.03027027027027027, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7417218543046358, lift=17.1523178807947), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.1523178807947)])

RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03216216216216216,

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03216216216216216, lift=1.0),

OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335),

OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)])

In [20]:
set(data[(data['StockCode']=='22386') | (data['StockCode']=='85099B') | (data['StockCode']=='22699') | (data['StockCode']=='22697') ]['Description'])

{'GREEN REGENCY TEACUP AND SAUCER',
 'JUMBO BAG PINK POLKADOT',
 'JUMBO BAG RED RETROSPOT',
 'ROSES REGENCY TEACUP AND SAUCER '}

## Quiz 22386 และ 85099B คือสินค้าอะไร

In [21]:
set(data[data['StockCode']=='22386' ]['Description'])

{'JUMBO BAG PINK POLKADOT'}

In [22]:
set(data[data['StockCode']=='85099B' ]['Description'])

{'JUMBO BAG RED RETROSPOT'}

RelationRecord(items=frozenset({'22699', '22697'}), support=0.03027027027027027,

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22699', '22697'}), confidence=0.03027027027027027, lift=1.0),

OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7417218543046358, lift=17.1523178807947),

OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.1523178807947)])

## HW 1 หา Frequent Item Set และ Association Rules

* ของช่วงเวลา Christmas & New Year (1 Dec - 31 Dec)
* ของประเทศในทวีป Europe
* ของช่วงเวลา ตรุษจีน ในทวีป Asia (15 Jan - 15 Feb)
* ของช่วงเวลา Christmas & New Year ในทวีป Europe (1 Dec - 31 Dec)
* ของวันวาเลนไทน์
* โดยจัดกลุ่มตามประเทศ+เดือน

สั่งวันที 3 มกราคม 2567
ส่งก่อน วันจันทร์หน้า

##เตรียมข้อมูล

In [23]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/09/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/09/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/09/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/09/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/09/2011 12:50,4.95,12680.0,France

เราต้องการแค่ เดือน/วัน/ปี ใน Column InvoiceData ไม่ได้ต้องการ เวลา

แยก เดือน/วัน/ปี ออกจาก เวลา ด้วยการทำ Prepare Data

## ทำ Data Preparation

Data Preparation คือ การแปลง(Transform)ข้อมูลให้อยู่ในรูปแบบที่เหมาะสม

In [24]:
data['InvoiceDate'][0].split()[0]

'12/01/2010'

In [25]:
date = []
for i in range(len(data['InvoiceDate'])):
  x = data['InvoiceDate'][i].split()[0]
  date.append(x)
#set(L)

In [26]:
day =[]
month =[]
year =[]
for i in range(len(data['InvoiceDate'])):
  x = date[i].split('/')[0]
  y = date[i].split('/')[1]
  z = date[i].split('/')[2]
  month.append(x)
  day.append(y)
  year.append(z)

In [27]:
# Test
date[0].split('/')

['12', '01', '2010']

## นำ Data ที่ผ่านการแปลงแล้วไปใช้

>

In [28]:
data_test_nonclean = data

In [29]:
data_test_nonclean['date'] = date
data_test_nonclean['day'] = day
data_test_nonclean['month'] = month
data_test_nonclean['year'] = year

# data_test_nonclean >>> ข้อมูลยังไม่อยู่ในมาตรฐานเดียวกัน

In [30]:
set(data_test_nonclean['date'])

{'01/04/2011',
 '01/05/2011',
 '01/06/2011',
 '01/07/2011',
 '01/09/2011',
 '01/10/2011',
 '01/11/2011',
 '01/12/2011',
 '02/01/2011',
 '02/02/2011',
 '02/03/2011',
 '02/04/2011',
 '02/06/2011',
 '02/07/2011',
 '02/08/2011',
 '02/09/2011',
 '02/10/2011',
 '02/11/2011',
 '03/01/2011',
 '03/02/2011',
 '03/03/2011',
 '03/04/2011',
 '03/06/2011',
 '03/07/2011',
 '03/08/2011',
 '03/09/2011',
 '03/10/2011',
 '03/11/2011',
 '04/01/2011',
 '04/03/2011',
 '04/04/2011',
 '04/05/2011',
 '04/06/2011',
 '04/07/2011',
 '04/08/2011',
 '04/10/2011',
 '04/11/2011',
 '04/12/2011',
 '05/01/2011',
 '05/03/2011',
 '05/04/2011',
 '05/05/2011',
 '05/06/2011',
 '05/08/2011',
 '05/09/2011',
 '05/10/2011',
 '05/11/2011',
 '05/12/2011',
 '06/01/2011',
 '06/02/2011',
 '06/03/2011',
 '06/05/2011',
 '06/06/2011',
 '06/07/2011',
 '06/08/2011',
 '06/09/2011',
 '06/10/2011',
 '06/12/2011',
 '07/01/2011',
 '07/03/2011',
 '07/04/2011',
 '07/05/2011',
 '07/06/2011',
 '07/07/2011',
 '07/08/2011',
 '07/10/2011',
 '07/11/2011',
 '07/12/2011',
 '08/01/2011',
 '08/02/2011',
 '08/03/2011',
 '08/04/2011',
 '08/05/2011',
 '08/07/2011',
 '08/08/2011',
 '08/09/2011',
 '08/10/2011',
 '08/11/2011',
 '08/12/2011',
 '09/01/2011',
 '09/02/2011',
 '09/04/2011',
 '09/05/2011',
 '09/06/2011',
 '09/07/2011',
 '09/08/2011',
 '09/09/2011',
 '09/11/2011',
 '09/12/2011',
 '1/13/2011',
 '1/14/2011',
 '1/16/2011',
 '1/17/2011',
 '1/18/2011',
 '1/19/2011',
 '1/20/2011',
 '1/21/2011',
 '1/23/2011',
 '1/24/2011',
 '1/25/2011',
 '1/26/2011',
 '1/27/2011',
 '1/28/2011',
 '1/30/2011',
 '1/31/2011',
 '10/02/2011',
 '10/03/2011',
 '10/04/2011',
 '10/05/2011',
 '10/06/2011',
 '10/07/2011',
 '10/09/2011',
 '10/10/2011',
 '10/11/2011',
 '10/12/2011',
 '10/13/2011',
 '10/14/2011',
 '10/16/2011',
 '10/17/2011',
 '10/18/2011',
 '10/19/2011',
 '10/20/2011',
 '10/21/2011',
 '10/23/2011',
 '10/24/2011',
 '10/25/2011',
 '10/26/2011',
 '10/27/2011',
 '10/28/2011',
 '10/30/2011',
 '10/31/2011',
 '11/01/2011',
 '11/02/2011',
 '11/03/2011',
 '11/04/2011',
 '11/06/2011',
 '11/07/2011',
 '11/08/2011',
 '11/09/2011',
 '11/10/2011',
 '11/11/2011',
 '11/13/2011',
 '11/14/2011',
 '11/15/2011',
 '11/16/2011',
 '11/17/2011',
 '11/18/2011',
 '11/20/2011',
 '11/21/2011',
 '11/22/2011',
 '11/23/2011',
 '11/24/2011',
 '11/25/2011',
 '11/27/2011',
 '11/28/2011',
 '11/29/2011',
 '11/30/2011',
 '12/01/2010',
 '12/01/2011',
 '12/02/2010',
 '12/02/2011',
 '12/03/2010',
 '12/04/2011',
 '12/05/2010',
 '12/05/2011',
 '12/06/2010',
 '12/06/2011',
 '12/07/2010',
 '12/07/2011',
 '12/08/2010',
 '12/08/2011',
 '12/09/2010',
 '12/09/2011',
 '12/10/2010',
 '12/12/2010',
 '12/13/2010',
 '12/14/2010',
 '12/15/2010',
 '12/16/2010',
 '12/17/2010',
 '12/19/2010',
 '12/20/2010',
 '12/21/2010',
 '12/22/2010',
 '12/23/2010',
 '2/13/2011',
 '2/14/2011',
 '2/15/2011',
 '2/16/2011',
 '2/17/2011',
 '2/18/2011',
 '2/20/2011',
 '2/21/2011',
 '2/22/2011',
 '2/23/2011',
 '2/24/2011',
 '2/25/2011',
 '2/27/2011',
 '2/28/2011',
 '3/13/2011',
 '3/14/2011',
 '3/15/2011',
 '3/16/2011',
 '3/17/2011',
 '3/18/2011',
 '3/20/2011',
 '3/21/2011',
 '3/22/2011',
 '3/23/2011',
 '3/24/2011',
 '3/25/2011',
 '3/27/2011',
 '3/28/2011',
 '3/29/2011',
 '3/30/2011',
 '3/31/2011',
 '4/13/2011',
 '4/14/2011',
 '4/15/2011',
 '4/17/2011',
 '4/18/2011',
 '4/19/2011',
 '4/20/2011',
 '4/21/2011',
 '4/26/2011',
 '4/27/2011',
 '4/28/2011',
 '5/13/2011',
 '5/15/2011',
 '5/16/2011',
 '5/17/2011',
 '5/18/2011',
 '5/19/2011',
 '5/20/2011',
 '5/22/2011',
 '5/23/2011',
 '5/24/2011',
 '5/25/2011',
 '5/26/2011',
 '5/27/2011',
 '5/29/2011',
 '5/31/2011',
 '6/13/2011',
 '6/14/2011',
 '6/15/2011',
 '6/16/2011',
 '6/17/2011',
 '6/19/2011',
 '6/20/2011',
 '6/21/2011',
 '6/22/2011',
 '6/23/2011',
 '6/24/2011',
 '6/26/2011',
 '6/27/2011',
 '6/28/2011',
 '6/29/2011',
 '6/30/2011',
 '7/13/2011',
 '7/14/2011',
 '7/15/2011',
 '7/17/2011',
 '7/18/2011',
 '7/19/2011',
 '7/20/2011',
 '7/21/2011',
 '7/22/2011',
 '7/24/2011',
 '7/25/2011',
 '7/26/2011',
 '7/27/2011',
 '7/28/2011',
 '7/29/2011',
 '7/31/2011',
 '8/14/2011',
 '8/15/2011',
 '8/16/2011',
 '8/17/2011',
 '8/18/2011',
 '8/19/2011',
 '8/21/2011',
 '8/22/2011',
 '8/23/2011',
 '8/24/2011',
 '8/25/2011',
 '8/26/2011',
 '8/28/2011',
 '8/30/2011',
 '8/31/2011',
 '9/13/2011',
 '9/14/2011',
 '9/15/2011',
 '9/16/2011',
 '9/18/2011',
 '9/19/2011',
 '9/20/2011',
 '9/21/2011',
 '9/22/2011',
 '9/23/2011',
 '9/25/2011',
 '9/26/2011',
 '9/27/2011',
 '9/28/2011',
 '9/29/2011',
 '9/30/2011'}

In [ ]:
set(data_test_nonclean['day'])

{'01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31'}

### แปลงวัน ให้เป็นมาตรฐานเดียวกัน

วัน เป็นมาตรฐานเดียวกันไม่ต้องแปลง

In [31]:
data_test_nonclean.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom,12/01/2010,01,12,2010
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom,12/01/2010,01,12,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010

### แปลงเดือน ให้เป็นมาตรฐานเดียวกัน

In [32]:
set(data_test_nonclean['month'])

{'01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '1',
 '10',
 '11',
 '12',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9'}

In [33]:
data_test = data_test_nonclean.replace(to_replace=['1', '2','3','4','5','6','7','8','9','10','11','12'],value=[1,2,3,4,5,6,7,8,9,10,11,12])

In [34]:
data_test.isnull().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
date           False
day            False
month          False
year           False
dtype: bool

In [35]:
data_test_nonclean[data_test_nonclean['month']=='01']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
42481,539993,22386,JUMBO BAG PINK POLKADOT,10,01/04/2011 10:00,1.95,13313.0,United Kingdom,01/04/2011,04,01,2011
42482,539993,21499,BLUE POLKADOT WRAP,25,01/04/2011 10:00,0.42,13313.0,United Kingdom,01/04/2011,04,01,2011
42483,539993,21498,RED RETROSPOT WRAP,25,01/04/2011 10:00,0.42,13313.0,United Kingdom,01/04/2011,04,01,2011
42484,539993,22379,RECYCLING BAG RETROSPOT,5,01/04/2011 10:00,2.10,13313.0,United Kingdom,01/04/2011,04,01,2011
42485,539993,20718,RED RETROSPOT SHOPPER BAG,10,01/04/2011 10:00,1.25,13313.0,United Kingdom,01/04/2011,04,01,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
55385,540992,21912,VINTAGE SNAKES & LADDERS,2,01/12/2011 16:57,3.75,17364.0,United Kingdom,01/12/2011,12,01,2011
55386,540992,51008,AFGHAN SLIPPER SOCK PAIR,10,01/12/2011 16:57,3.45,17364.0,United Kingdom,01/12/2011,12,01,2011
55387,540992,21508,VINTAGE KID DOLLY CARD,12,01/12/2011 16:57,0.42,17364.0,United Kingdom,01/12/2011,12,01,2011
55388,540992,22716,CARD CIRCUS PARADE,12,01/12/2011 16:57,0.42,17364.0,United Kingdom,01/12/2011,12,01,2011
55389,540992,22983,CARD BILLBOARD FONT,12,01/12/2011 16:57,0.42,17364.0,United Kingdom,01/12/2011,12,01,2011

In [36]:
data_test[data_test['month']==1]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
55390,540993,22423,REGENCY CAKESTAND 3 TIER,2,1/13/2011 9:23,12.75,13284.0,United Kingdom,1/13/2011,13,1,2011
55391,540993,22776,SWEETHEART CAKESTAND 3 TIER,1,1/13/2011 9:23,9.95,13284.0,United Kingdom,1/13/2011,13,1,2011
55392,540993,21471,STRAWBERRY RAFFIA FOOD COVER,6,1/13/2011 9:23,3.75,13284.0,United Kingdom,1/13/2011,13,1,2011
55393,540993,47580,TEA TIME DES TEA COSY,6,1/13/2011 9:23,2.55,13284.0,United Kingdom,1/13/2011,13,1,2011
55394,540993,21212,PACK OF 72 RETROSPOT CAKE CASES,24,1/13/2011 9:23,0.55,13284.0,United Kingdom,1/13/2011,13,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
77623,542745,22138,BAKING SET 9 PIECE RETROSPOT,13,1/31/2011 16:47,4.95,15881.0,United Kingdom,1/31/2011,31,1,2011
77624,542746,21034,REX CASH+CARRY JUMBO SHOPPER,2,1/31/2011 16:48,0.95,15881.0,United Kingdom,1/31/2011,31,1,2011
77625,C542748,22969,HOMEMADE JAM SCENTED CANDLES,-12,1/31/2011 16:53,1.45,15881.0,United Kingdom,1/31/2011,31,1,2011
77626,C542753,22649,STRAWBERRY FAIRY CAKE TEAPOT,-1,1/31/2011 16:57,4.95,15881.0,United Kingdom,1/31/2011,31,1,2011
77627,542759,22649,STRAWBERRY FAIRY CAKE TEAPOT,1,1/31/2011 16:59,4.95,15881.0,United Kingdom,1/31/2011,31,1,2011

## Code หาชื่อสินค้า จาก Column "Description"

In [41]:
def finditem(x,y) :
  L=set(data[(data['StockCode']==x)|(data['StockCode']==y)]['Description'])
  return L

## 1. ของช่วงเวลา Christmas & New Year (1 Dec - 31 Dec)

### จัดกลุ่มตาม Transaction (Invoice_No)

In [42]:
data_CM_and_NY = data_test[data_test['month']==12]

In [43]:
data_CM_and_NY

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom,12/01/2010,01,12,2010
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom,12/01/2010,01,12,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/09/2011 12:50,0.85,12680.0,France,12/09/2011,09,12,2011
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/09/2011 12:50,2.10,12680.0,France,12/09/2011,09,12,2011
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/09/2011 12:50,4.15,12680.0,France,12/09/2011,09,12,2011
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/09/2011 12:50,4.15,12680.0,France,12/09/2011,09,12,2011
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/09/2011 12:50,4.95,12680.0,France,12/09/2011,09,12,2011

In [44]:
transactionsCM_and_NY = data_CM_and_NY.groupby('InvoiceNo')['StockCode'].apply(list)

In [45]:
frequentItemsets = list(apriori(transactionsCM_and_NY,min_support = 0.065))
frequentItemsets

[RelationRecord(items=frozenset({'22086'}), support=0.09243421052631579, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22086'}), confidence=0.09243421052631579, lift=1.0)]),
 RelationRecord(items=frozenset({'22111'}), support=0.07203947368421053, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22111'}), confidence=0.07203947368421053, lift=1.0)]),
 RelationRecord(items=frozenset({'22112'}), support=0.07072368421052631, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22112'}), confidence=0.07072368421052631, lift=1.0)]),
 RelationRecord(items=frozenset({'22423'}), support=0.08223684210526316, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.08223684210526316, lift=1.0)]),
 RelationRecord(items=frozenset({'22910'}), support=0.07171052631578947, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22910'}), confidence=0.07171052631578947, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.09769736842105263, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.09769736842105263, lift=1.0)])]

In [46]:
len(frequentItemsets)

6

In [47]:
min_sup = 0.035

frequentItemsets = list(apriori(transactionsCM_and_NY,min_support = min_sup))
for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22086', '22910'}), support=0.047697368421052634, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22086', '22910'}), confidence=0.047697368421052634, lift=1.0), OrderedStatistic(items_base=frozenset({'22086'}), items_add=frozenset({'22910'}), confidence=0.5160142348754448, lift=7.195794834960331), OrderedStatistic(items_base=frozenset({'22910'}), items_add=frozenset({'22086'}), confidence=0.6651376146788991, lift=7.195794834960332)])
yes
RelationRecord(items=frozenset({'22835', '22112'}), support=0.036513157894736845, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22835', '22112'}), confidence=0.036513157894736845, lift=1.0), OrderedStatistic(items_base=frozenset({'22112'}), items_add=frozenset({'22835'}), confidence=0.5162790697674419, lift=9.748374981944245), OrderedStatistic(items_base=frozenset({'22835'}), items_add=frozenset({'22112'}), confidence=0.68944099378882, lift=9.748374981944245)])
yes
RelationRecord(items=frozenset({'22727', '22726'}), support=0.03684210526315789, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22727', '22726'}), confidence=0.03684210526315789, lift=1.0), OrderedStatistic(items_base=frozenset({'22726'}), items_add=frozenset({'22727'}), confidence=0.7088607594936708, lift=14.462662475575565), OrderedStatistic(items_base=frozenset({'22727'}), items_add=frozenset({'22726'}), confidence=0.7516778523489932, lift=14.462662475575565)])

In [48]:
set(data[(data['StockCode']=='22086') | (data['StockCode']=='22910') | (data['StockCode']=='22835') | (data['StockCode']=='22112') | (data['StockCode']=='22727') | (data['StockCode']=='22726')]['Description'])

{'ALARM CLOCK BAKELIKE GREEN',
 'ALARM CLOCK BAKELIKE RED ',
 'CHOCOLATE HOT WATER BOTTLE',
 'HOT WATER BOTTLE I AM SO POORLY',
 "PAPER CHAIN KIT 50'S CHRISTMAS ",
 'PAPER CHAIN KIT VINTAGE CHRISTMAS',
 nan}

มี 3 itemset ที่ผ่าน 0.035

RelationRecord(items=frozenset({'22086', '22910'}),
support=0.047697368421052634,



**คนที่ซื้อ 22086(ALARM CLOCK BAKELIKE GREEN) กับ  22910(ALARM CLOCK BAKELIKE RED) จาก dataset มีค่า confidence ทั้งหมดเท่ากับ 4.77% มีค่า lift เท่ากับ 1 แสดงว่า ไม่มีความสัมพันธ์กัน

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22086', '22910'}), confidence=0.047697368421052634, lift=1.0),



**คนที่ซื้อ 22086(ALARM CLOCK BAKELIKE GREEN) แล้วค่อยซื้อ 22910(ALARM CLOCK BAKELIKE RED) มีค่า confidence เท่ากับ 51.6% มีค่า lift เท่ากับ 7.19 ซึ่งมากกว่า 1 แสดงว่ามีความสัมพันธ์กันเชิงบวก หรือ ผันตรงกัน

OrderedStatistic(items_base=frozenset({'22086'}), items_add=frozenset({'22910'}), confidence=0.5160142348754448, lift=7.195794834960331),



**คนที่ซื้อ 22910(ALARM CLOCK BAKELIKE RED) แล้วค่อยซื้อ 22086(ALARM CLOCK BAKELIKE GREEN) มีค่า confidence ตั้งเท่ากับ 66.51% มีค่า lift เท่ากับ 7.19 ซึ่งมากกว่า 1 แสดงว่ามีความสัมพันธ์กันเชิงบวก หรือ ผันตรงกัน

OrderedStatistic(items_base=frozenset({'22910'}), items_add=frozenset({'22086'}), confidence=0.6651376146788991, lift=7.195794834960332)])

# 2.ของประเทศในทวีป Europe

#### จัดกลุ่มประเทศให้อยู่ในทวีปยุโรป

In [49]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

In [91]:
Eu = ['Austria','Belgium','Channel Islands','Cyprus','Czech Republic','Denmark','EIRE','European Community',
      'Finland','France','Germany','Greece','Iceland','Italy','Lithuania','Malta','Netherlands',
      'Norway','Poland','Portugal','Spain','Sweden','Switzerland','United Kingdom']

In [96]:
Eu_data = data_test[data_test['Country']==""]
for i in range(len(Eu)):
  x = data_test[data_test['Country']==Eu[i]]
  Eu_data=pd.concat([x,Eu_data])

In [97]:
Eu_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom,12/01/2010,01,12,2010
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom,12/01/2010,01,12,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,01,12,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
536964,581232,15056BL,EDWARDIAN PARASOL BLACK,24,12/08/2011 10:26,5.95,12358.0,Austria,12/08/2011,08,12,2011
536965,581232,15056P,EDWARDIAN PARASOL PINK,12,12/08/2011 10:26,5.95,12358.0,Austria,12/08/2011,08,12,2011
536966,581232,22059,CERAMIC STRAWBERRY DESIGN MUG,24,12/08/2011 10:26,0.39,12358.0,Austria,12/08/2011,08,12,2011
536967,581232,22646,CERAMIC STRAWBERRY CAKE MONEY BANK,36,12/08/2011 10:26,0.39,12358.0,Austria,12/08/2011,08,12,2011
536968,581232,POST,POSTAGE,4,12/08/2011 10:26,40.00,12358.0,Austria,12/08/2011,08,12,2011

##จัดกลุ่มตาม Transaction (Invoice_No)

In [99]:
transactions_Eu = Eu_data.groupby('InvoiceNo')['StockCode'].apply(list)

In [104]:
frequentItemsets = list(apriori(transactions_Eu,min_support = 0.085))
frequentItemsets

[RelationRecord(items=frozenset({'85123A'}), support=0.08713225292448797, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.08713225292448797, lift=1.0)])]

In [105]:
len(frequentItemsets)

1

In [109]:
min_sup = 0.03

frequentItemsets = list(apriori(transactions_Eu,min_support = min_sup))
for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03233453810578679, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03233453810578679, lift=1.0), OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6775244299674267, lift=8.203944050584402), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39152941176470585, lift=8.203944050584402)])
yes
RelationRecord(items=frozenset({'22697', '22699'}), support=0.03011931133652015, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.03011931133652015, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7402101241642789, lift=17.20537191045263), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7000903342366757, lift=17.205371910452627)])

In [111]:
set(data[(data['StockCode']=='22386') | (data['StockCode']=='85099B') | (data['StockCode']=='22697') | (data['StockCode']=='22699')]['Description'])

{'GREEN REGENCY TEACUP AND SAUCER',
 'JUMBO BAG PINK POLKADOT',
 'JUMBO BAG RED RETROSPOT',
 'ROSES REGENCY TEACUP AND SAUCER '}

มี 3 itemset ที่ผ่าน 0.035

RelationRecord(items=frozenset({'22086', '22910'}),
support=0.047697368421052634,



**คนที่ซื้อ 22086(ALARM CLOCK BAKELIKE GREEN) กับ  22910(ALARM CLOCK BAKELIKE RED) จาก dataset มีค่า confidence ทั้งหมดเท่ากับ 4.77% มีค่า lift เท่ากับ 1 แสดงว่า ไม่มีความสัมพันธ์กัน

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22086', '22910'}), confidence=0.047697368421052634, lift=1.0),



**คนที่ซื้อ 22086(ALARM CLOCK BAKELIKE GREEN) แล้วค่อยซื้อ 22910(ALARM CLOCK BAKELIKE RED) มีค่า confidence เท่ากับ 51.6% มีค่า lift เท่ากับ 7.19 ซึ่งมากกว่า 1 แสดงว่ามีความสัมพันธ์กันเชิงบวก หรือ ผันตรงกัน

OrderedStatistic(items_base=frozenset({'22086'}), items_add=frozenset({'22910'}), confidence=0.5160142348754448, lift=7.195794834960331),



**คนที่ซื้อ 22910(ALARM CLOCK BAKELIKE RED) แล้วค่อยซื้อ 22086(ALARM CLOCK BAKELIKE GREEN) มีค่า confidence ตั้งเท่ากับ 66.51% มีค่า lift เท่ากับ 7.19 ซึ่งมากกว่า 1 แสดงว่ามีความสัมพันธ์กันเชิงบวก หรือ ผันตรงกัน

OrderedStatistic(items_base=frozenset({'22910'}), items_add=frozenset({'22086'}), confidence=0.6651376146788991, lift=7.195794834960332)])

# 3.ของช่วงเวลา ตรุษจีน ในทวีป Asia (15 Jan - 15 Feb)

#### จัดกลุ่มประเทศให้อยู่ในทวีปเอเชีย

In [124]:
Asia= ['Bahrain','Hong Kong','Israel','Japan','Lebanon','Saudi Arabia','Singapore','United Arab Emirates']

In [123]:
Asia_data = data_test[data_test['Country']==""]
for i in range(len(Asia)):
  x = data_test[data_test['Country']==Asia[i]]
  Asia_data=pd.concat([x,Asia_data])

In [125]:
Asia_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
89570,543911,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2/14/2011 12:46,4.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89571,543911,48138,DOORMAT UNION FLAG,2,2/14/2011 12:46,7.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89572,543911,85150,LADIES & GENTLEMEN METAL SIGN,24,2/14/2011 12:46,2.55,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89573,543911,82552,WASHROOM METAL SIGN,24,2/14/2011 12:46,1.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89574,543911,82551,LAUNDRY 15C METAL SIGN,12,2/14/2011 12:46,1.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
181152,552449,72802C,VANILLA SCENT CANDLE JEWELLED BOX,6,05/09/2011 13:49,4.25,12355.0,Bahrain,05/09/2011,09,05,2011
197371,553900,37449,CERAMIC CAKE STAND + HANGING CAKES,2,5/19/2011 17:47,9.95,12353.0,Bahrain,5/19/2011,19,5,2011
197372,553900,37446,MINI CAKE STAND WITH HANGING CAKES,8,5/19/2011 17:47,1.45,12353.0,Bahrain,5/19/2011,19,5,2011
197373,553900,22890,NOVELTY BISCUITS CAKE STAND 3 TIER,4,5/19/2011 17:47,9.95,12353.0,Bahrain,5/19/2011,19,5,2011
197374,553900,37450,CERAMIC CAKE BOWL + HANGING CAKES,6,5/19/2011 17:47,2.95,12353.0,Bahrain,5/19/2011,19,5,2011

# หาช่วงเวลาตรุษจีน

In [163]:
Asia_data_Jan = Asia_data[(Asia_data['month']==1)]

In [164]:
Asia_data_Jan

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
70758,542102,21519,GIN & TONIC DIET GREETING CARD,72,1/25/2011 13:26,0.36,12744.0,Singapore,1/25/2011,25,1,2011
70759,542102,22697,GREEN REGENCY TEACUP AND SAUCER,6,1/25/2011 13:26,2.95,12744.0,Singapore,1/25/2011,25,1,2011
70760,542102,22699,ROSES REGENCY TEACUP AND SAUCER,6,1/25/2011 13:26,2.95,12744.0,Singapore,1/25/2011,25,1,2011
70761,542102,22343,PARTY PIZZA DISH RED RETROSPOT,24,1/25/2011 13:26,0.21,12744.0,Singapore,1/25/2011,25,1,2011
70762,542102,22344,PARTY PIZZA DISH PINK POLKADOT,24,1/25/2011 13:26,0.21,12744.0,Singapore,1/25/2011,25,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
69675,541975,20726,LUNCH BAG WOODLAND,20,1/24/2011 14:24,1.65,NaN,Hong Kong,1/24/2011,24,1,2011
69676,541975,22452,MEASURING TAPE BABUSHKA PINK,24,1/24/2011 14:24,2.95,NaN,Hong Kong,1/24/2011,24,1,2011
69677,541975,22454,MEASURING TAPE BABUSHKA RED,24,1/24/2011 14:24,2.95,NaN,Hong Kong,1/24/2011,24,1,2011
69678,541975,20749,ASSORTED COLOUR MINI CASES,6,1/24/2011 14:24,7.95,NaN,Hong Kong,1/24/2011,24,1,2011
69679,541975,20682,RED RETROSPOT CHILDRENS UMBRELLA,6,1/24/2011 14:24,3.25,NaN,Hong Kong,1/24/2011,24,1,2011

In [180]:
Asia_data_Jan['day'] = pd.to_numeric(Asia_data_Jan['day'], errors='coerce')

<ipython-input-180-9bafe383ada4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Asia_data_Jan['day'] = pd.to_numeric(Asia_data_Jan['day'], errors='coerce')

In [181]:
Asia_data_DJ = Asia_data_Jan[(Asia_data_Jan['day'] >= 15)]

In [182]:
Asia_data_DJ

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
70758,542102,21519,GIN & TONIC DIET GREETING CARD,72,1/25/2011 13:26,0.36,12744.0,Singapore,1/25/2011,25,1,2011
70759,542102,22697,GREEN REGENCY TEACUP AND SAUCER,6,1/25/2011 13:26,2.95,12744.0,Singapore,1/25/2011,25,1,2011
70760,542102,22699,ROSES REGENCY TEACUP AND SAUCER,6,1/25/2011 13:26,2.95,12744.0,Singapore,1/25/2011,25,1,2011
70761,542102,22343,PARTY PIZZA DISH RED RETROSPOT,24,1/25/2011 13:26,0.21,12744.0,Singapore,1/25/2011,25,1,2011
70762,542102,22344,PARTY PIZZA DISH PINK POLKADOT,24,1/25/2011 13:26,0.21,12744.0,Singapore,1/25/2011,25,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
69675,541975,20726,LUNCH BAG WOODLAND,20,1/24/2011 14:24,1.65,NaN,Hong Kong,1/24/2011,24,1,2011
69676,541975,22452,MEASURING TAPE BABUSHKA PINK,24,1/24/2011 14:24,2.95,NaN,Hong Kong,1/24/2011,24,1,2011
69677,541975,22454,MEASURING TAPE BABUSHKA RED,24,1/24/2011 14:24,2.95,NaN,Hong Kong,1/24/2011,24,1,2011
69678,541975,20749,ASSORTED COLOUR MINI CASES,6,1/24/2011 14:24,7.95,NaN,Hong Kong,1/24/2011,24,1,2011
69679,541975,20682,RED RETROSPOT CHILDRENS UMBRELLA,6,1/24/2011 14:24,3.25,NaN,Hong Kong,1/24/2011,24,1,2011

In [183]:
Asia_data_Feb = Asia_data[(Asia_data['month']==2)]

In [186]:
Asia_data_Feb

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
89570,543911,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2/14/2011 12:46,4.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89571,543911,48138,DOORMAT UNION FLAG,2,2/14/2011 12:46,7.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89572,543911,85150,LADIES & GENTLEMEN METAL SIGN,24,2/14/2011 12:46,2.55,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89573,543911,82552,WASHROOM METAL SIGN,24,2/14/2011 12:46,1.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89574,543911,82551,LAUNDRY 15C METAL SIGN,12,2/14/2011 12:46,1.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89575,543911,82583,HOT BATHS METAL SIGN,12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89576,543911,22413,METAL SIGN TAKE IT OR LEAVE IT,12,2/14/2011 12:46,2.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89577,543911,21166,COOK WITH WINE METAL SIGN,12,2/14/2011 12:46,2.08,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89578,543911,21175,GIN + TONIC DIET METAL SIGN,12,2/14/2011 12:46,2.55,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89579,543911,85152,HAND OVER THE CHOCOLATE SIGN,12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89580,543911,21908,CHOCOLATE THIS WAY METAL SIGN,12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89581,543911,21165,BEWARE OF THE CAT METAL SIGN,12,2/14/2011 12:46,1.69,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89582,543911,20961,STRAWBERRY BATH SPONGE,20,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89583,543911,22195,LARGE HEART MEASURING SPOONS,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89584,543911,22200,FRYING PAN PINK POLKADOT,6,2/14/2011 12:46,4.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89585,543911,22207,FRYING PAN UNION FLAG,6,2/14/2011 12:46,4.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89586,543911,85215,ASSORTED CHEESE FRIDGE MAGNETS,72,2/14/2011 12:46,0.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89587,543911,21700,BIG DOUGHNUT FRIDGE MAGNETS,72,2/14/2011 12:46,0.85,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89588,543911,84050,PINK HEART SHAPE EGG FRYING PAN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89589,543911,21231,SWEETHEART CERAMIC TRINKET BOX,24,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89590,543911,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89591,543911,22111,SCOTTIE DOG HOT WATER BOTTLE,6,2/14/2011 12:46,4.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89592,543911,21832,CHOCOLATE CALCULATOR,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89593,543911,20985,HEART CALCULATOR,12,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89594,543911,22112,CHOCOLATE HOT WATER BOTTLE,6,2/14/2011 12:46,4.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89595,543911,47590B,PINK HAPPY BIRTHDAY BUNTING,12,2/14/2011 12:46,5.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89596,543911,22117,METAL SIGN HER DINNER IS SERVED,12,2/14/2011 12:46,2.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89597,543911,82567,"AIRLINE LOUNGE,METAL SIGN",12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89598,543911,21910,WAY OUT METAL SIGN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89599,543911,21911,GARDEN METAL SIGN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
100810,544838,22915,ASSORTED BOTTLE TOP MAGNETS,12,2/24/2011 10:34,0.42,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100811,544838,22363,GLASS JAR MARMALADE,6,2/24/2011 10:34,2.95,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100812,544838,22362,GLASS JAR PEACOCK BATH SALTS,6,2/24/2011 10:34,2.95,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100813,544838,22361,GLASS JAR DAISY FRESH COTTON WOOL,6,2/24/2011 10:34,2.95,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100814,544838,22553,PLASTERS IN TIN SKULLS,12,2/24/2011 10:34,1.65,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100815,544838,22555,PLASTERS IN TIN STRONGMAN,12,2/24/2011 10:34,1.65,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100816,544838,22556,PLASTERS IN TIN CIRCUS PARADE,12,2/24/2011 10:34,1.65,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100817,544838,20781,GOLD EAR MUFF HEADPHONES,2,2/24/2011 10:34,5.49,12565.0,Saudi Arabia,2/24/2011,24,2,2011
100818,544838,22969,HOMEMADE JAM SCENTED CANDLES,12,2/24/2011 10:34,1.45,12565.0,Saudi Arabia,2/24/2011,24,2,2011
91580,544108,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",24,2/16/2011 10:53,0.85,12653.0,Israel,2/16/2011,16,2,2011
91581,544108,22244,3 HOOK HANGER MAGIC GARDEN,12,2/16/2011 10:53,1.95,12653.0,Israel,2/16/2011,16,2,2011
91582,544108,22243,5 HOOK HANGER RED MAGIC TOADSTOOL,12,2/16/2011 10:53,1.65,12653.0,Israel,2/16/2011,16,2,2011
91583,544108,22399,MAGNETS PACK OF 4 CHILDHOOD MEMORY,36,2/16/2011 10:53,1.25,12653.0,Israel,2/16/2011,16,2,2011
91584,544108,22629,SPACEBOY LUNCH BOX,24,2/16/2011 10:53,1.95,12653.0,Israel,2/16/2011,16,2,2011
91585,544108,22630,DOLLY GIRL LUNCH BOX,36,2/16/2011 10:53,1.95,12653.0,Israel,2/16/2011,16,2,2011
91586,544108,22326,ROUND SNACK BOXES SET OF4 WOODLAND,48,2/16/2011 10:53,2.55,12653.0,Israel,2/16/2011,16,2,2011
91587,544108,22423,REGENCY CAKESTAND 3 TIER,16,2/16/2011 10:53,10.95,12653.0,Israel,2/16/2011,16,2,2011
91588,544108,22192,BLUE DINER WALL CLOCK,12,2/16/2011 10:53,7.65,12653.0,Israel,2/16/2011,16,2,2011
91589,544108,22193,RED DINER WALL CLOCK,12,2/16/2011 10:53,7.65,12653.0,Israel,2/16/2011,16,2,2011
91590,544108,22433,WATERING CAN GREEN DINOSAUR,6,2/16/2011 10:53,1.95,12653.0,Israel,2/16/2011,16,2,2011
91591,544108,22432,WATERING CAN PINK BUNNY,6,2/16/2011 10:53,1.95,12653.0,Israel,2/16/2011,16,2,2011
91592,544108,22431,WATERING CAN BLUE ELEPHANT,12,2/16/2011 10:53,1.95,12653.0,Israel,2/16/2011,16,2,2011
91593,544108,20724,RED RETROSPOT CHARLOTTE BAG,10,2/16/2011 10:53,0.85,12653.0,Israel,2/16/2011,16,2,2011
91594,544108,20719,WOODLAND CHARLOTTE BAG,10,2/16/2011 10:53,0.85,12653.0,Israel,2/16/2011,16,2,2011
91595,544108,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,10,2/16/2011 10:53,0.85,12653.0,Israel,2/16/2011,16,2,2011

In [187]:
Asia_data_Feb['day'] = pd.to_numeric(Asia_data_Feb['day'], errors='coerce')

<ipython-input-187-1bcd3b82b531>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Asia_data_Feb['day'] = pd.to_numeric(Asia_data_Feb['day'], errors='coerce')

In [188]:
Asia_data_DF = Asia_data_Feb[Asia_data_Feb['day'] <= 15]

In [190]:
Asia_data_DF

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
89570,543911,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2/14/2011 12:46,4.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89571,543911,48138,DOORMAT UNION FLAG,2,2/14/2011 12:46,7.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89572,543911,85150,LADIES & GENTLEMEN METAL SIGN,24,2/14/2011 12:46,2.55,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89573,543911,82552,WASHROOM METAL SIGN,24,2/14/2011 12:46,1.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89574,543911,82551,LAUNDRY 15C METAL SIGN,12,2/14/2011 12:46,1.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89575,543911,82583,HOT BATHS METAL SIGN,12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89576,543911,22413,METAL SIGN TAKE IT OR LEAVE IT,12,2/14/2011 12:46,2.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89577,543911,21166,COOK WITH WINE METAL SIGN,12,2/14/2011 12:46,2.08,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89578,543911,21175,GIN + TONIC DIET METAL SIGN,12,2/14/2011 12:46,2.55,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89579,543911,85152,HAND OVER THE CHOCOLATE SIGN,12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89580,543911,21908,CHOCOLATE THIS WAY METAL SIGN,12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89581,543911,21165,BEWARE OF THE CAT METAL SIGN,12,2/14/2011 12:46,1.69,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89582,543911,20961,STRAWBERRY BATH SPONGE,20,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89583,543911,22195,LARGE HEART MEASURING SPOONS,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89584,543911,22200,FRYING PAN PINK POLKADOT,6,2/14/2011 12:46,4.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89585,543911,22207,FRYING PAN UNION FLAG,6,2/14/2011 12:46,4.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89586,543911,85215,ASSORTED CHEESE FRIDGE MAGNETS,72,2/14/2011 12:46,0.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89587,543911,21700,BIG DOUGHNUT FRIDGE MAGNETS,72,2/14/2011 12:46,0.85,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89588,543911,84050,PINK HEART SHAPE EGG FRYING PAN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89589,543911,21231,SWEETHEART CERAMIC TRINKET BOX,24,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89590,543911,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89591,543911,22111,SCOTTIE DOG HOT WATER BOTTLE,6,2/14/2011 12:46,4.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89592,543911,21832,CHOCOLATE CALCULATOR,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89593,543911,20985,HEART CALCULATOR,12,2/14/2011 12:46,1.25,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89594,543911,22112,CHOCOLATE HOT WATER BOTTLE,6,2/14/2011 12:46,4.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89595,543911,47590B,PINK HAPPY BIRTHDAY BUNTING,12,2/14/2011 12:46,5.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89596,543911,22117,METAL SIGN HER DINNER IS SERVED,12,2/14/2011 12:46,2.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89597,543911,82567,"AIRLINE LOUNGE,METAL SIGN",12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89598,543911,21910,WAY OUT METAL SIGN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89599,543911,21911,GARDEN METAL SIGN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011

# เอาตารางที่หาวันรวมกัน

In [191]:
New_Asia_data=pd.concat([Asia_data_DJ,Asia_data_DF])

In [192]:
New_Asia_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
70758,542102,21519,GIN & TONIC DIET GREETING CARD,72,1/25/2011 13:26,0.36,12744.0,Singapore,1/25/2011,25,1,2011
70759,542102,22697,GREEN REGENCY TEACUP AND SAUCER,6,1/25/2011 13:26,2.95,12744.0,Singapore,1/25/2011,25,1,2011
70760,542102,22699,ROSES REGENCY TEACUP AND SAUCER,6,1/25/2011 13:26,2.95,12744.0,Singapore,1/25/2011,25,1,2011
70761,542102,22343,PARTY PIZZA DISH RED RETROSPOT,24,1/25/2011 13:26,0.21,12744.0,Singapore,1/25/2011,25,1,2011
70762,542102,22344,PARTY PIZZA DISH PINK POLKADOT,24,1/25/2011 13:26,0.21,12744.0,Singapore,1/25/2011,25,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
89595,543911,47590B,PINK HAPPY BIRTHDAY BUNTING,12,2/14/2011 12:46,5.45,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89596,543911,22117,METAL SIGN HER DINNER IS SERVED,12,2/14/2011 12:46,2.95,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89597,543911,82567,"AIRLINE LOUNGE,METAL SIGN",12,2/14/2011 12:46,2.10,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89598,543911,21910,WAY OUT METAL SIGN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011
89599,543911,21911,GARDEN METAL SIGN,12,2/14/2011 12:46,1.65,17829.0,United Arab Emirates,2/14/2011,14,2,2011

##จัดกลุ่มตาม Transaction (Invoice_No)

In [193]:
transactionsAsia = New_Asia_data.groupby('InvoiceNo')['StockCode'].apply(list)

In [194]:
transactionsAsia

InvoiceNo
541975    [22620, 85183B, 85183A, 16236, 21058, 21967, 2...
542102    [21519, 22697, 22699, 22343, 22344, 22345, 223...
542276    [82551, 21165, 82600, 21754, 21756, 82482, 824...
543911    [21485, 48138, 85150, 82552, 82551, 82583, 224...
Name: StockCode, dtype: object

In [203]:
min_sup = 0.3

frequentItemsets_Asia = list(apriori(transactionsAsia,min_support = min_sup))
for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03233453810578679, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03233453810578679, lift=1.0), OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6775244299674267, lift=8.203944050584402), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39152941176470585, lift=8.203944050584402)])
yes
RelationRecord(items=frozenset({'22697', '22699'}), support=0.03011931133652015, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.03011931133652015, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7402101241642789, lift=17.20537191045263), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7000903342366757, lift=17.205371910452627)])

In [209]:
set(data[(data['StockCode']=='22386') | (data['StockCode']=='85099B')]['Description'])

{'JUMBO BAG PINK POLKADOT', 'JUMBO BAG RED RETROSPOT'}

มี 2 itemset ที่ผ่าน 0.3

RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03233453810578679,
<br>
<br>
**คนที่ซื้อ 22386(JUMBO BAG PINK POLKADOT) กับ 85099B(JUMBO BAG RED RETROSPOT) จาก dataset มีค่า confidence ทั้งหมดเท่ากับ 3.23% มีค่า lift เท่ากับ 1 แสดงว่า ไม่มีความสัมพันธ์กัน

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03233453810578679, lift=1.0),
<br>
<br>
**คนที่ซื้อ 22386(JUMBO BAG PINK POLKADOT) แล้วค่อยซื้อ 85099B(JUMBO BAG RED RETROSPOT) จาก dataset มีค่า confidence ทั้งหมดเท่ากับ 67.75% มีค่า lift เท่ากับ 8.20 แสดงว่า มีความสัมพันธ์กันเชิงบวก หรือ ผันตรงกัน

OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6775244299674267, lift=8.203944050584402),
<br>
<br>
**คนที่ซื้อ 85099B(JUMBO BAG RED RETROSPOT) แล้วค่อยซื้อ 22386(JUMBO BAG PINK POLKADOT)  จาก dataset มีค่า confidence ทั้งหมดเท่ากับ 39.15% มีค่า lift เท่ากับ 8.20 แสดงว่า มีความสัมพันธ์กันเชิงบวก หรือ ผันตรงกัน

OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39152941176470585, lift=8.203944050584402)])